body {
    /* background-color: #23303D; */
    /* background-color: #395159; */
    background-color: #c05850;;
    height: 750px;
    position: relative;
}

.header-box {
    display: none;
    margin: auto;
    margin-top: 1%;
    width: 75%;
    height: 15%;
    /* background-color: #90A3A7; */
}

#head {
    font-family: 'Playfair Display', serif;
    font-size: 35px; 
}

#remove-link-styling {
    text-decoration: none;
    color: inherit;
}

.left-header {
    display: flex;
    align-items: center;
    color: #EFEFEF;
    float: left;
    width: 50%;
    height: 100%;
}

.right-header {
    display: flex;
    align-items: center;
    float: right;
    width: 50%;
    height: 100%;
    /* background-color: skyblue; */
}

#menu-item {
    color: #EFEFEF;
    display: block;
    margin: auto;
    text-align: right;
    margin-right: 0;
    font-family: 'Playfair Display', serif;
}

.main-box {
    display: none;
    padding-top: 3%;
    margin: auto;
    margin-top: 2%;
    width: 75%;
    height: 80%;
    background-color: #EFEFEF;
    box-shadow: 0px 0px 25px;
}

#headshot {
    margin: auto;
    height: auto;
    width: 100%;
    display: block;
    position: relative;
    top: -30%;
}

.image-cropper {
    margin: auto;
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

#intro {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #23303D;
}

#background {
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    color: #23303D;
}

#about {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 20px;
    /* font-size: 30px; */
    margin: 2% auto;
    /* width: 75%; */
    line-height: 1.5em;
    /* color: #23303D; */
    color: white;
}

#about:hover {
    /* color: #935430; */
    color: #3A353F;
}

.button-style {
    border: none;
    font-style: inherit;
    color: inherit;
    all: unset;
    cursor: pointer;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
  .modal-content {
    /* background-color: #fefefe; */
    margin: 10% auto; 
    padding: 20px;
    /* border: 1px solid #888; */
    width: 50%;
    background-color: #505668;
    /* background-color: #CBA688; */
    max-height: 500px;
    overflow: scroll;
    /* height: fit-content; */
}
  
  .close {
    /* color:#23303D; */
    float: right;
    font-size: 28px;
    font-weight: bold;
    color: #f1ece1;
}
  
  .close:hover,
  .close:focus {
    /* color: black; */
    color: #3a353f;
    text-decoration: none;
    cursor: pointer;
}

#inner-text {
    text-align: center;
    font-size: 20px; 
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
    /* color: #23303D; */
    color: #f1ece1;
}

.author-content {
    height: 300px;
}

.author-left {
    display: flex;
    float: left;
    width: 40%;
    height: 100%;
    margin: auto;
}

.author-right {
    overflow-y: scroll;
    scrollbar-width: none;
    float: right;
    width: 60%;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar:hover {
    display: block;
}

#cover {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

#image-link {
    text-decoration: none;
    margin: auto;
    height: 300px;
    /* max-width: 100%;
    max-height: 100%; */
}

#author-title {
    text-decoration: underline;
    text-align: center;
    font-size: 20px; 
    font-family: 'Montserrat', sans-serif;
    line-height: 1em;
    /* color: #23303D; */
    color: #f1ece1;
}

#author-text {
    text-align: center;
    font-size: 20px; 
    font-family: 'Montserrat', sans-serif;
    line-height: 1em;
    /* color: #23303D; */
    color: #f1ece1;
}

#traveler-text {
    text-align: center;
    font-size: 20px; 
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
    /* color: #23303D; */
    color: #f1ece1;
    margin: 2%;
}

.photos {
    display: inline-flex;
    overflow-x: scroll;
    width: 100%;
    height: 350px;
}

#photo {
    margin: 2%;
    height: 300px;
}

#github {
    text-align: center;
    font-size: 20px; 
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
    /* color: #23303D; */
    text-decoration: none;
    color: #f1ece1;
}

#software-text {
    text-align: center;
    font-size: 20px; 
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
    /* color: #23303D; */
    color: #f1ece1;
}

#explanation {
    text-align: center;
    font-size: 20px; 
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
    /* color: #23303D; */
    color: #f1ece1;
}

/* New design idea */

.home-box {
    margin: auto;
    width: 75%;
    height: 75%;
    /* background-color: #3D5361; */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.bottom-menu {
    width: 100%;
    margin: 1% auto;
    color: white;
    display: inline-flex;
}

.contact {
    display: flex;
    width: 20%;
    margin: 2% auto;
}

#contact {
    filter: brightness(0) invert(1);
    height: 30px;
    color: white;
    margin: auto;
}

#contact:hover {
    filter: grayscale(1%);
    color: #3A353F;
}

#form-text {
    margin: auto;
    text-align: center;
    font-size: 20px; 
    font-family: 'Montserrat', sans-serif;
    line-height: 2.5em;
    color: #23303D;
    /* margin-right: 10%; */
}